#_auth = cngtcm53bC1hcnRpZmFjdHMtZmV0Y2g6QVAyNWJveFJMb01ZQ0E1VEZ2SzNBekVVUFdlM0dHOW9UZlFlNmRwdFJSdFR1V1JHVg==
#always-auth = true
#email = atlassian@walgreens.com
#registry = https://oneit.wba.com:57199/artifactory/api/npm/rx-rnwl-npm
progress = false
