<div class="post">
  <md-toolbar md-theme="dark">
    <div class="md-toolbar-tools">
      <h3>
        <span ng-bind="::$ctrl.title"></span>
      </h3>
      <span flex=""></span>
      <md-button aria-label="Cancel"
                 class="toolbar-button"
                 ng-click="$ctrl.cancel()">
        <i class="material-icons">highlight_off</i>
      </md-button>
    </div>
  </md-toolbar>
  <tsng-post-form on-cancel="$ctrl.cancel()"
                  on-submit="$ctrl.confirm(post)"
                  post="$ctrl.post"></tsng-post-form>
</div>
