<md-sidenav class="md-whiteframe-z2 md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">
  <md-toolbar class="md-hue-1 md-whiteframe-z2"
              md-theme="custom">
    <md-button class="md-toolbar-tools md-warn"
               href="http://flatlogic.github.io/angular-material-dashboard"
               layout="row"
               layout-align="center center">
      <h1>AMD</h1>
    </md-button>
  </md-toolbar>
  <md-button class="capitalize"
             flex=""
             layout="column"
             layout-align="center center"
             ng-click="$ctrl.selectItem(item)"
             ng-link="item.link"
             ng-repeat-start="item in $ctrl.menuItems">
    <!--ui-sref-active="md-warn" ui-sref="{{item.sref}}">-->
    <div class="md-tile-content"
         hide-md=""
         hide-sm="">
      <i class="material-icons md-36">{{item.icon}}</i>
    </div>
    <div class="md-tile-content">{{item.name}}</div>
  </md-button>
  <md-divider ng-repeat-end=""></md-divider>
  <md-button layout-align="center center"
             ng-click="$ctrl.showActions($event)">
    <div class="md-tile-content">Actions</div>
  </md-button>
</md-sidenav>
