<section class="md-whiteframe-z1 panel-widget"
         layout-margin="">
  <md-toolbar class="md-hue-1 panel-widget-toolbar"
              md-theme="custom">
    <div class="md-toolbar-tools">
      <h3 class="panel-widget-title">{{vm.title}} y</h3>
      <span flex=""></span>
      <md-button aria-label="Show options"
                 class="md-icon-button"
                 ng-click="$showOptions = !$showOptions"
                 ng-show="vm.options">
        <i class="material-icons">more_vert</i>
      </md-button>
    </div>
  </md-toolbar>
  <div ng-include="vm.template"></div>
</section>
