$group-background-color:  #FAFAFA;
$group-border-color:      #757575;
$group-title-color:       #757575;
$input-filled-color:      #009688;

#my-form{
  md-input-container {
    > label {
        &._md-container-ignore {
          // Workaround for select
          font-size: smaller;
          // font-weight: bold;
        }
    }
    // Filled input rule
    &.md-input-has-value { 
      > label {
        color: $input-filled-color !important;
        &._md-container-ignore{
          // Workaround for select
          color: $input-filled-color !important;
        }
      }
    }
  }
  .group {
      color: $group-title-color;
      border: 1px dotted $group-border-color;
      margin: 10px;
      // border-radius: 10px;
      background-color: $group-background-color;
  }
}