<div class="showcase-wrapper"
     layout="column"
     ng-cloak="">
  <md-toolbar md-theme="grey">
    <div class="md-toolbar-tools">
      <h3>
        <span>Showcase</span>
      </h3>
      <span flex=""></span>
      <md-button aria-label="View Source"
                 class="toolbar-button"
                 ng-click="$ctrl.showSource = !$ctrl.showSource">
        <i class="material-icons"
           ng-hide="$ctrl.showSource">keyboard_arrow_right</i>
        <i class="material-icons"
           ng-show="$ctrl.showSource">keyboard_arrow_down</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <div ng-show="$ctrl.showSource">
    <tsng-showcase></tsng-showcase>
    <tsng-showcase file-list="::$ctrl.files[0]"
                   lazy="true"
                   title="{{::$ctrl.title}}"></tsng-showcase>
    <tsng-showcase file-list="::$ctrl.files[1]"
                   lazy="true"
                   title="Panel Widgets"></tsng-showcase>
  </div>
</div>
<tsng-showcase file-list="::$ctrl.files[2]"
               lazy="true"
               title="Widgets"></tsng-showcase>
<!--<tsng-showcase file-list="::$ctrl.files[5]" title="I18N" lazy="true"></tsng-showcase>-->
<div layout-gt-md="row">
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     template="components/dashboard/panel/widget/visitor.controller.tpl.html"
                     title="{{ 'SITE_VISITORS' | translate }}"></tsng-panel-widget>
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     template="components/dashboard/panel/widget/warning.controller.tpl.html"
                     title="{{ 'WARNINGS' | translate }}"></tsng-panel-widget>
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     template="components/dashboard/panel/widget/memory.controller.tpl.html"
                     title="{{ ::'MEMORY_LOAD' | translate }}"></tsng-panel-widget>
</div>
<!-- <tsng-showcase file-list="::$ctrl.files[3]" title="Widgets" lazy="true"></tsng-showcase> -->
<div layout-gt-md="row">
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     template="components/dashboard/panel/widget/control-panel.controller.tpl.html"
                     title="Server Control dashboard/panel"></tsng-panel-widget>
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     template="components/dashboard/panel/widget/usage.controller.tpl.html"
                     title="Usage Stats"></tsng-panel-widget>
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     options="true"
                     template="components/dashboard/panel/widget/autocomplete.controller.tpl.html"
                     title="Autocomplete"></tsng-panel-widget>
</div>
<!-- <tsng-showcase file-list="::$ctrl.files[4]" title="Widgets" lazy="true"></tsng-showcase> -->
<div layout-gt-md="row">
  <tsng-panel-widget flex=""
                     options="true"
                     template="components/dashboard/panel/widget/performance.controller.tpl.html"
                     title="Performance"></tsng-panel-widget>
  <tsng-panel-widget flex=""
                     template="components/dashboard/panel/widget/todo.controller.tpl.html"
                     title="TODO list"></tsng-panel-widget>
</div>
