<div layout-gt-md="row">
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     template="dashboard/panel/widget/visitor.tpl.html"
                     title="Site visitors"></tsng-panel-widget>
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     template="dashboard/panel/widget/warning.tpl.html"
                     title="Warnings"></tsng-panel-widget>
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     template="dashboard/panel/widget/memory.tpl.html"
                     title="Memory load"></tsng-panel-widget>
</div>
<div layout-gt-md="row">
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     template="dashboard/panel/widget/control-panel.tpl.html"
                     title="Server Control dashboard/panel"></tsng-panel-widget>
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     template="dashboard/panel/widget/usage.tpl.html"
                     title="Usage Stats"></tsng-panel-widget>
  <tsng-panel-widget class="fixed-height-widget"
                     flex=""
                     options="true"
                     template="dashboard/panel/widget/autocomplete.tpl.html"
                     title="Autocomplete Input"></tsng-panel-widget>
</div>
<div layout-gt-md="row">
  <tsng-panel-widget flex=""
                     options="true"
                     template="dashboard/panel/widget/performance.tpl.html"
                     title="Performance"></tsng-panel-widget>
  <tsng-panel-widget flex=""
                     template="dashboard/panel/widget/todo.tpl.html"
                     title="TODO list"></tsng-panel-widget>
</div>
