// COLORS
$main-bg-color: #ececec;
$text-color: #7a7a7a;
$accent-color: rgb(0, 150, 136);
$warning-color: #e75753;
$white: #fff;

// VARIABLES
$left-sidenav-width: 110px;
$widget-height: 310px;
$font-weight-bold: 600;
$font-size-large: 22px;

// Layout (from angular-material.scss)
$baseline-grid: 8px !default;
$layout-gutter-width: ($baseline-grid * 2) !default;
$layout-breakpoint-xs: 600px !default;
$layout-breakpoint-sm: 960px !default;
$layout-breakpoint-md: 1280px !default;
$layout-breakpoint-lg: 1920px !default;

// LAYOUT
body {
  color: $text-color;
}

.toolbar-button {
  min-width: $layout-gutter-width * 1.5;
}

.share-label {
  margin-left: $layout-gutter-width;
  vertical-align: middle;
}

.page-content {
  background-color: $main-bg-color;
}

.widget-progress {
  margin-left: $layout-gutter-width;
  width: 95% !important;
}

// UTILS
.capitalize {
  text-transform: capitalize;
}

.img-circle {
  border-radius: 50%;
  height: $layout-gutter-width * 3;
  margin: 0 $layout-gutter-width;
}

// COMPONENTS
.messages {
  position: relative;

  &-content {
    height: 100vh;
  }
}

.notifications-label {
  background-color: $warning-color;
  border-radius: 50%;
  font-size: 12px;
  height: $layout-gutter-width;
  line-height: $layout-gutter-width;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 2px;
  width: $layout-gutter-width;
}

// panel-widget
.panel-widget {
  background-color: $white;

  &-toolbar {
    box-shadow: none;
    margin: 0;
  }

  &-tittle {
    color: $text-color;
  }
}

.options {
  transition: opacity linear .5s;

  &.ng-hide {
    opacity: 0;
  }
}

.fixed-height-widget {
  height: $widget-height;
}

// charts
.donut-chart-title {
  text-align: center;
}

.custom-tooltip {
  color: $text-color;
  font-size: $font-size-large;
  text-align: center;
}

// OVERRIDES
// angular material overrides
md-radio-group {
  border: 0;
}

md-icon {
  height: auto;
}

md-sidenav {
  &.md-locked-open {
    &.md-sidenav-left {
      max-width: $left-sidenav-width;
      min-width: $left-sidenav-width;
      width: $left-sidenav-width;
    }
  }
}

// libs overrides
.material-icons {
  vertical-align: middle;

  &.md-18 {
    font-size: 18px;
  }

  &.md-24 {
    font-size: 24px;
  }

  &.md-36 {
    font-size: 36px;
  }

  &.md-48 {
    font-size: 48px;
  }
}

.nvd3 {
  &.nv-pie {
    .nv-pie-title {
      fill: darken($text-color, 50%);
      font-size: $font-size-large !important;
      font-weight: $font-weight-bold;
    }
  }
}

.nvtooltip {
  background-color: transparent;
  border: 0;
  font-weight: $font-weight-bold;
}
