<tsfn-showcase file-list="::$ctrl.files" title="{{::$ctrl.title}}"></tsfn-showcase>

<!-- TODO: Add validations -->
<div id="errors">
  <div id="validation-error-message" ng-animate ng-show="$ctrl.invalidElements.length > 0" >
    <md-content layout="row" layout-padding>
      <p>Please check the following inputs: <strong>{{$ctrl.invalidElements}}</strong></p>
    </md-content>
  </div>
</div>
<form name="userForm" novalidate>
  <div ng-init="$ctrl.setForm(userForm)"></div>
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <md-input-container>
      <label for="title">Username</label>
      <input name="title" id="title" username-asynchro-validation ng-model="$ctrl.user.title" ng-minlength="8" required>
      <div ng-messages="userForm.title.$error" ng-show="userForm.title.$dirty">
        <div ng-message="minlength">That's too short!</div>
        <div ng-message="required">Username required!</div>
        <div ng-message="asynchroValidator">Username already exists!</div>

      </div>
    </md-input-container>
    <md-input-container>
      <label for="email">Email</label>
      <input name="email" id="email" ng-model="$ctrl.user.email" type="email" ng-pattern="/^[a-zA-Z0-9._%+-]+@flatlogic.com$/"
        required>
      <div ng-messages="userForm.email.$error" ng-show="userForm.email.$dirty">
        <div ng-message="required">Email required!</div>
        <div ng-message="pattern">bad domain</div>
      </div>
    </md-input-container>
  </md-content>
  <md-content class="md-padding">

    <div layout layout-sm="column">
      <md-input-container flex="80">
        <label for="company">Company (Disabled)</label>
        <input id="company" ng-model="$ctrl.user.company" disabled>
      </md-input-container>
      <md-input-container flex>
        <label for="submission-date">Submission Date</label>
        <input name="submissiondate" id="submission-date" type="date" date-in-the-past-validation ng-model="$ctrl.user.submissionDate">
        <div ng-messages="userForm.submissiondate.$error" ng-show="userForm.submissiondate.$dirty">
          <div ng-message="validate">Invalid Date</div>
        </div>
      </md-input-container>
    </div>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label for="first-name">First Name</label>
        <input id="first-name" ng-model="$ctrl.user.firstName">
      </md-input-container>
      <md-input-container flex>
        <label for="last-name">Last Name</label>
        <input id="last-name" name="lastname" ng-model="$ctrl.user.lastName" ng-minlength="2">
        <div ng-messages="userForm.lastname.$error" ng-show="userForm.lastname.$dirty">
          <div div ng-message-exp="minlength">lastname less than 2</div>
        </div>
      </md-input-container>
    </div>
    <div flex layout layout-sm="column">
      <md-input-container>
        <label>Gender</label>
        <div flex-offset="70">
          <md-radio-group layout="row" ng-model="$ctrl.user.gender">
            <md-radio-button value="F">F</md-radio-button>
            <md-radio-button value="M">M</md-radio-button>
          </md-radio-group>
        </div>
      </md-input-container>
    </div>
    <div>
      <md-input-container flex>
        <label for="input">Age</label>
        <input type="number" name="input" id="input" ng-model="$ctrl.user.age" min="18" max="99">
        <div ng-messages="userForm.input.$error" ng-show="userForm.input.$dirty">
          <div div ng-message-exp="['max','min']">Not valid age! Age must be greater than 18 less than 99</div>
        </div>
      </md-input-container>
    </div>
    <md-input-container flex>
      <label for="address">Address</label>
      <input id="address" ng-model="$ctrl.user.address">
    </md-input-container>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label for="city">City</label>
        <input id="city" ng-model="$ctrl.user.city">
      </md-input-container>
      <md-input-container flex>
        <label for="state">State</label>
        <input ng-model-options="{ updateOn: 'blur' }" placeholder="e.g. IT" name="state" id="state" ng-model="$ctrl.user.state"
          ng-pattern="/^[A-Za-z]*$/" ng-minlength="2" maxlength="2">
        <div ng-messages="userForm.state.$error" multiple ng-show="userForm.state.$dirty">
          <div ng-message="pattern">Only character allowed</div>

          <div ng-message="minlength">That's too short!</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label for="postal-code">Postal Code</label>
        <input id="postal-code" ng-model="$ctrl.user.postalCode">
      </md-input-container>
    </div>

    <md-input-container flex>
      <label for="biography">About us</label>
      <textarea id="biography" ng-model="$ctrl.user.biography" columns="1" md-maxlength="150"></textarea>
    </md-input-container>
    <div flex>
      <!--<md-button ng-click="$ctrl.submitUser()" ng-disabled="userForm.$invalid" class="md-primary"> Submit </md-button>-->
      <md-button ng-click="$ctrl.submitUser()" class="md-primary"> Submit </md-button> 
    </div>
  </md-content>
</form>
