$validation-error-height: $layout-gutter-width * 6;
$validation-error-color: #c62828; // rgb(231,87,83);

#validation-error-message {
  // border-bottom: 1px solid $validation-error-color;
  &.ng-hide {
    height: 0;
    &-remove {
      animation: show-validation-error 1.5s;
      animation-fill-mode: forwards;
    }
    &-add {
      animation: hide-validation-error 1s;
      animation-fill-mode: forwards;
    }
  }
  md-content {
      background-color: #E0E0E0;
      p {
          color: $validation-error-color;
      }
  }
}

@keyframes show-validation-error {
  from {height: 0}
  to   {height: $validation-error-height}
}

@keyframes hide-validation-error {
  from {height: $validation-error-height}
  to   {height: 0}
}
