<!--<h2 ng-bind="$ctrl.title"></h2>-->

<div class="showcase-wrapper" layout="column" ng-cloak>
  <md-toolbar md-theme="grey">
    <div class="md-toolbar-tools">
      <h3><span>Showcase</span></h3>
      <span flex></span>
      <md-button class="toolbar-button" aria-label="View Source" ng-click="$ctrl.showSource = !$ctrl.showSource">
        <i class="material-icons" ng-hide="$ctrl.showSource">keyboard_arrow_right</i>
        <i class="material-icons" ng-show="$ctrl.showSource">keyboard_arrow_down</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <div ng-show="$ctrl.showSource">
    <tsng-showcase file-list="::$ctrl.files[0]" title="Blog"></tsng-showcase>
    <tsng-showcase file-list="::$ctrl.files[1]" title="Post" lazy="true"></tsng-showcase>
    <tsng-showcase file-list="::$ctrl.files[2]" title="Rest" lazy="true"></tsng-showcase>
  </div>
</div>

<!--<hr>-->

<md-content layout="column">
  <ng-outlet></ng-outlet>
</md-content>
