<md-content class="md-padding"
            ng-controller="TodoController as vm">
  <div layout="row">
    <h4 flex="82">{{vm.remaining}} of {{vm.todos.length}} remaining</h4>
    <md-button class="md-primary"
               ng-click="vm.toggleAll()">Toggle All</md-button>
  </div>
  <md-checkbox ng-model="todo.done"
               ng-repeat="todo in vm.todos">{{todo.text}}</md-checkbox>
  <form name="tasksForm"
        ng-submit="vm.addTodo()"
        novalidate="">
    <div flex=""
         layout="row">
      <md-input-container flex=""
                          ng-class="{'md-input-invalid':tasksForm.taskText.$error.required && tasksForm.$submitted}">
        <label for="task-text">Write some todo task here...</label>
        <input id="task-text"
               name="taskText"
               ng-model="vm.todoText"
               required="" />
      </md-input-container>
      <md-button class="md-fab md-wayrn md-mini"
                 type="submit">
        <i class="material-icons">add</i>
      </md-button>
    </div>
    <md-button class="md-primary"
               ng-click="vm.archive($event)">Remove completed</md-button>
  </form>
</md-content>
