<div class="messages">
  <md-content class="messages-content">
    <tsng-message-section messages="$ctrl.messages"
                          theme="md-accent"
                          title="New Orders"></tsng-message-section>
    <tsng-message-section messages="$ctrl.messages"
                          theme="md-primary"
                          title="Delivered"></tsng-message-section>
    <tsng-message-section messages="$ctrl.messages"
                          theme="md-warn"
                          title="Problems reported"></tsng-message-section>
    <md-divider></md-divider>
  </md-content>
</div>
