// Colors
$success-toast-color: #43A047;
$warning-toast-color: #FF9800;
$error-toast-color:   #F44336;
$info-toast-color:    #2196F3;
$content-toast-color: #FFFFFF;

.toast {
  &-success {
    .md-toast-content {
      background-color: $success-toast-color;
    }
  }
  &-warning {
    .md-toast-content {
      background-color: $warning-toast-color;
    }
  }
  &-error {
    .md-toast-content {
      background-color: $error-toast-color;
    }
  }
  &-info {
    .md-toast-content {
      background-color: $info-toast-color;
    }
  }
  &-icon {
    color: $content-toast-color !important;
  }

  // Position classes
  &-top {
    top: 0;
  }
  &-bottom {
    bottom: 0;
  }
  &-right {
    right: 0;
  }
  &-left {
    left: 0;
  }

  .md-toast {
    &-content {
      color: $content-toast-color;
    }
    &-text {
      margin-left: $baseline-grid;
    }
  }
}
